h1 {
    color: red;
    animation: type 3s steps(10);
    overflow: hidden;
    white-space:  nowrap;
    font-family: consolas;
    border-right: 4px solid black;
    width: 10ch;
  }
  @keyframes type {
    0% {
      width: 0ch;
    }
    100% {
      width: 10ch;
    }
  }

